@import './iconfont.css';

html,
body,
#root {
    height: 100%;
    background: #fff;
    font-family: sans-serif;
    -webkit-overflow-scrolling: touch;
    position: relative;
}

body {
    margin: 0;
    padding-top: constant(safe-area-inset-top);
    /* 兼容 iOS < 11.2 */
    padding-top: env(safe-area-inset-top);
    /* 兼容 iOS >= 11.2 */
    padding-bottom: constant(safe-area-inset-bottom);
    /* 兼容 iOS < 11.2 */
    padding-bottom: env(safe-area-inset-bottom);
    /* 兼容 iOS >= 11.2 */
}

a {
    text-decoration: none;
}

/* 去除input outline效果 */

input {
    outline-color: invert;
    outline-style: none;
    outline-width: 0;
    border: none;
    border-style: none;
    text-shadow: none;
    -webkit-appearance: none;
    box-shadow: none;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.am-modal-input input {
    text-align: center;
}
